product-feed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog" type="catalogType"/>
  <xs:complexType name="catalogType">
    <xs:sequence>
      <xs:element type="feedType" name="feed"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="version"/>
  </xs:complexType>
  <xs:complexType name="shippingType">
    <xs:all>
      <xs:element type="xs:decimal" name="cost"/>
      <xs:element type="xs:token" name="delay"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="discountsType">
    <xs:sequence>
      <xs:element type="discountType" name="discount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoryType">
    <xs:all>
      <xs:element type="xs:token" name="name"/>
      <xs:element type="xs:token" name="link" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="brandType">
    <xs:all>
      <xs:element type="xs:token" name="name"/>
      <xs:element type="xs:token" name="link" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="attributesType">
    <xs:sequence>
      <xs:element type="attributeType" name="attribute" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descriptionType">
    <xs:all>
      <xs:element type="xs:string" name="full"/>
      <xs:element type="xs:string" name="short"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="attributeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:token" name="name" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="feedType">
    <xs:sequence>
      <xs:element type="productType" name="product"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="discountType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="price"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute type="xs:date" name="start"/>
        <xs:attribute type="xs:date" name="end"/>
        <xs:attribute type="xs:boolean" name="sale"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="variationsType">
    <xs:sequence>
      <xs:element type="variationType" name="variation" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="variationType">
    <xs:all>
      <xs:element type="xs:token" name="reference"/>
      <xs:element type="xs:token" name="gtin" minOccurs="0"/>
      <xs:element type="xs:positiveInteger" name="quantity"/>
      <xs:element type="xs:decimal" name="price"/>
      <xs:element type="discountsType" name="discounts" minOccurs="0"/>
      <xs:element type="shippingType" name="shipping" minOccurs="0"/>
      <xs:element type="imagesType" name="images" minOccurs="0"/>
      <xs:element type="attributesType" name="attributes" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="imagesType">
    <xs:sequence>
      <xs:element type="imageType" name="image" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="imageType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="main"/>
              <xs:enumeration value="additional"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="productType">
    <xs:all>
      <xs:element type="xs:token" name="reference"/>
      <xs:element type="xs:token" name="gtin" minOccurs="0"/>
      <xs:element type="xs:token" name="name"/>
      <xs:element type="xs:token" name="link" minOccurs="0"/>
      <xs:element type="xs:positiveInteger" name="quantity"/>
      <xs:element type="xs:decimal" name="price"/>
      <xs:element type="brandType" name="brand"/>
      <xs:element type="categoryType" name="category"/>
      <xs:element type="discountsType" name="discounts" minOccurs="0"/>
      <xs:element type="descriptionType" name="description" minOccurs="0"/>
      <xs:element type="shippingType" name="shipping" minOccurs="0"/>
      <xs:element type="imagesType" name="images" minOccurs="0"/>
      <xs:element type="attributesType" name="attributes" minOccurs="0"/>
      <xs:element type="variationsType" name="variations" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
</xs:schema>